{# <nav class="site-nav">
  <ul>
    <li><a class="nav-item nav-link" href="/"><i class="fas fa-home"></i></a></li>
    {% set mainNav = collections.all | eleventyNavigation('main') %}
    {%- for nav in mainNav -%}
    <li><a class="nav-item nav-link" href="{{nav.url}}">{{nav.key}}</a></li>
    {%- endfor -%}
  </ul>
</nav> #}

<nav class="site-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/flickr/">Flickr</a></li>
  <li><a href="/fields">Fields</a></li>
  <li><a href=""></a></li>
</nav>
