<nav class="site-nav">
  <ul>
    <li><a class="nav-item nav-link" href="/"><i class="fas fa-home"></i></a></li>
    {% set mainNav = collections.all | eleventyNavigation('main') %}
    {%- for nav in mainNav -%}
    <li><a class="nav-item nav-link" href="{{nav.url}}">{{nav.key}}</a></li>
    {%- endfor -%}
  </ul>
</nav>
